@{
    ViewData["Title"] = "Home Page";
}

@* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
 *@
<div class="text-center">
    <h1 class="display-4">ROLES AT LCS</h1>
    <p>View available jobs and descriptions by clicking on the Job header</a>.</p>

    <img class="logo" src="~/careerpathinglogo.png" alt="Creative logo that say 'Career Pathing'" />

    <p> </p>
    <p>If you click Job for the first time, you may need to click the "Add Migrations"" button and refresh the page.</a>.</p>
</div>


